@use 'sass:math';

#root {
  width: 100vw;
  height: 100vh;
}

:root {
  --card-background: var(--mantine-color-gray-1);

  @for $i from 1 through 10 {
    --hover-overlay-#{$i}: rgb(0, 0, 0, #{calc($i / 10)});
  }

  $z-indices: (
    'overlay': 50,
    'menu-list': 100,
  );
  @each $name, $z-index in $z-indices {
    --z-index-#{$name}: #{$z-index};
  }
}

body.dark-theme {
  --card-background: var(--mantine-color-dark-5);

  @for $i from 1 through 10 {
    --hover-overlay-#{$i}: rgb(255, 255, 255, #{calc($i / 10)});
  }
}

.disabled-text {
  color: var(--hover-overlay-3);
}
